
<h1>Create new school</h1>
<form class="example-form" (submit)="onSubmit()">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>School name</mat-label>
      <input matInput name="name"  required>
    </mat-form-field></td>
    <br/>
    <br/>
    <td><mat-form-field class="example-full-width">
      <mat-label>School's address:</mat-label>
      <input matInput name="address" required>
    </mat-form-field></td>
    <br/>
    <td><mat-form-field class="example-full-width">
      <mat-label>School's phone:</mat-label>
      <input matInput name="phone" required>
    </mat-form-field></td>
  </tr></table>

  <button mat-flat-button type="submit">Submit</button>
  <a class="mat-icon-button" href="/school" role="button">Cancel</a>
</form>

